{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "strict",
  "printWidth": 90,
  "proseWrap": "preserve",
  "semi": false,
  "singleQuote": true,
  "spaceBeforeFunctionParen": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": true
}
